@using Microsoft.AspNetCore.Identity
@using Eventures.Domain

@inject SignInManager<EventuresUser> SignInManager
@inject UserManager<EventuresUser> UserManager

@if (SignInManager.IsSignedIn(User))
{// TO DO:
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle"
           href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/Events/Index">All Events</a>

            @if (User.IsInRole("Admin"))
            {
               @*<a class="nav-link text-dark" 
                  asp-area="" asp-controller="Events" asp-action="Index">Create Event</a>*@

                 <a class="dropdown-item" href="/Events/Create">Create event</a>
            }

            @*<a class="dropdown-item" href="#">Something else here</a>*@
        </div>
    </div>
}
