@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

        <div class="container-fluid w-75 bg-eventures ">
            <h2 class="pt-3">Eventures - The best ticket service in the world.</h2>
            <hr class="hr-3 bg-dark" />

            <h4 class="mt-4"><a href="/Identity/Account/Login">Login</a> to start "eventing".</h4>
            <h4 class="mt-4 pb-4"><a href="/Identity/Account/Register">Register</a> if you don't have an account.</h4>
        </div>