@using Microsoft.AspNetCore.Identity
@using Eventures.Domain

@inject SignInManager<EventuresUser> SignInManager
@inject UserManager<EventuresUser> UserManager
@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("User"))
{
    var username = User.Identity.Name;

    <div class="container w-55 bg-eventures pt-lg-5 text-center">
        <h2>Welcome, @username </h2>
        <hr class="hr-3 bg-dark " />

        <h4 class="pb-lg-5">Eventures wishes you an exciting experience.</h4>
    </div>
}

else if (User.IsInRole("Admin"))
{
    <div class="container w-55 bg-eventures pt-lg-5 text-center">
        <h2>Greetings, Administrator - Admin </h2>
        <hr class="hr-3 text-secondary bg-dark " />

        <h4 class="text-secondary pb-lg-5">Enjoj your work.</h4>
    </div>
}

else
{
    <div class="container w-55 bg-eventures ">
        <h2 class="pt-3">Eventures - The best ticket service in the world.</h2>

        <hr class="hr-3 bg-dark" />

        <h4 class="mt-4"><a href="/Identity/Account/Login">Login</a> to start "eventing".</h4>
        <h4 class="mt-4 pb-4"><a href="/Identity/Account/Register">Register</a> if you don't have an account.</h4>
    </div>
}