@page
@model LogoutModel

@{
    ViewData["Title"] = "Log out";
}

    <div class="container-fluid w-55 bg-eventures justify-content-center text-center mt-5 pt-1 pb-3">
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
        <hr class="hr-3 bg-dark" />
    </div>
